<section class="about-section py-5">
  <div class="container">
    <div class="row align-items-center">
      
      <!-- Left Side: Images -->
      <div class="col-lg-6 mb-4 mb-lg-0 text-center position-relative">
        <img src="assets/guy2.webp" alt="Car guy" class="img-fluid rounded-5 main-img about-main-img">
        <img src="assets/guy1.jpeg" alt="Car guy 2" class="img-fluid rounded-circle overlay-img about-overlay-img">
      </div>
      <style>
        
      </style>

      <!-- Right Side: Text -->
      <div class="col-lg-6">
        <div>
           <span class="text-brand fw-bold animate-on-scroll" data-animation="animate__fadeInUp" style="font-size:1.1rem;">&#10033; About</span>
        </div>
      <h1 class="fw-bold mb-3 animated-text" *ngIf="animatedTextVisible">
        <ng-container *ngFor="let line of ['Your trusted partner in', 'reliable car rental']">
           <div>
              <span *ngFor="let letter of line.split(''); let i = index"
                [style.animationDelay]="(i * 0.05) + 's'"
                  class="animate__animated animate__fadeInRight">
                {{ letter === ' ' ? '\u00A0' : letter }}
             </span>
           </div>
        </ng-container>
      </h1>


        <p class="text-muted animate-on-scroll" data-animation="animate__fadeInUp" >
          Aqestic Optio Amet A Ququam Saepe Aliquid Volutade Dicta Fuga Dolor Saerror Sed 
          Earum A Magni Soluta Quam Minus Dolor Dolor
        </p>

        <!-- Features -->
        <div class="d-flex mb-3 animate-on-scroll" data-animation="animate__fadeInUp">
          <div class="me-3 text-brand fs-3"><i class="bi bi-card-checklist"></i></div>
          <div>
            <h5 class="fw-bold">Easy Booking Process</h5>
            <p class="text-muted mb-0">We Have Optimized The Booking Process So That Our Clients Can Experience The Easiest And The Safest Service</p>
          </div>
        </div>
        <hr>
        <div class="d-flex mb-4 animate-on-scroll" data-animation="animate__fadeInUp">
          <div class="me-3 text-brand fs-3"><i class="bi bi-car-front-fill"></i></div>
          <div>
            <h5 class="fw-bold">Convenient Pick-Up & Return Process</h5>
            <p class="text-muted mb-0">We Have Optimized The Booking Process So That Our Clients Can Experience The Easiest And The Safest Service</p>
          </div>
        </div>

        <!-- Button -->
        <a routerLink="contact" class="btn btn-brand rounded-pill px-4 animate-on-scroll" data-animation="animate__fadeInUp">
          Contact Us <i class="bi bi-arrow-up-right ms-1"></i>
        </a>
      </div>
    </div>
  </div>
</section>

