<section class="about-section py-5">
  <div class="container">
    <div class="row align-items-center">
      
      <!-- Left Side: Images -->
      <div class="col-lg-6 mb-4 mb-lg-0 text-center position-relative">
        <img src="assets/guy2.webp" alt="Car guy" class="img-fluid rounded-5 main-img about-main-img">
        <img src="assets/guy1.jpeg" alt="Car guy 2" class="img-fluid rounded-circle overlay-img about-overlay-img">
      </div>
      <style>
        
      </style>

      <!-- Right Side: Text -->
      <div class="col-lg-6">
        <div>
           <span class="text-brand fw-bold" appAnimatOnScroll style="font-size:1.1rem;">&#10033; About</span>
        </div>
      <h1 class="fw-bold mb-3" appAnimatText="animate_fadeInRight">
        Your trusted partner in <br> reliable car rental
      </h1>


        <p class="text-muted" appAnimatOnScroll  >
          Aqestic Optio Amet A Ququam Saepe Aliquid Volutade Dicta Fuga Dolor Saerror Sed 
          Earum A Magni Soluta Quam Minus Dolor Dolor
        </p>

        <!-- Features -->
        <div class="d-flex mb-3" appAnimatOnScroll >
          <div class="me-3 text-brand fs-3"><i class="bi bi-card-checklist"></i></div>
          <div>
            <h5 class="fw-bold">Easy Booking Process</h5>
            <p class="text-muted mb-0">We Have Optimized The Booking Process So That Our Clients Can Experience The Easiest And The Safest Service</p>
          </div>
        </div>
        <hr>
        <div class="d-flex mb-4" appAnimatOnScroll>
          <div class="me-3 text-brand fs-3"><i class="bi bi-car-front-fill"></i></div>
          <div>
            <h5 class="fw-bold">Convenient Pick-Up & Return Process</h5>
            <p class="text-muted mb-0">We Have Optimized The Booking Process So That Our Clients Can Experience The Easiest And The Safest Service</p>
          </div>
        </div>

        <!-- Button -->
        <a routerLink="contact" class="btn btn-brand rounded-pill px-4" appAnimatOnScroll>
          Contact Us <i class="bi bi-arrow-up-right ms-1"></i>
        </a>
      </div>
    </div>
  </div>
</section>

