<div class="container-fluid py-2 mb-2">
  <div class="row justify-content-center banner">
    <div class="d-flex flex-column align-items-center justify-content-center rounded-6 p-5 position-relative cta-banner-bg overflow-hidden text-center" style="min-height: 250px;">
      
      <!-- Page Title -->
      <h1 class="fw-bold text-white mb-3" style="font-size: 5rem;">{{breadcrumbLabel}}</h1>

      <!-- Breadcrumb -->
      <div class="breadcrumb-custom">
        <a routerLink="" class="text-white text-decoration-none">Home</a>
        <span class="mx-2 text-white">/</span>
        <span class="text-orange">{{breadcrumbLabel}}</span>
      </div>

    </div>
  </div>
</div>
