<section class="services-section d-flex align-items-center text-center text-lg-start">
  <div class="container">
    <div class="text-center">
       <span class="text-brand fw-bold" style="font-size:1.1rem;">&#10033; Our Services</span>
    </div>
    <h1 class="fw-bold text-center mb-5">Explore our wide range of <br> rental services</h1>

    <!-- Cards Row -->
    <div class="row g-4">
      <!-- Loop services -->
      <div class="col-md-3" *ngFor="let service of services">
        <div class="card h-100 shadow-sm p-4 service-card">
          <div class="icon text-brand fs-1 mb-3"><i [ngClass]="service.icon"></i></div>
          <h5 class="fw-bold">{{service.title}}</h5>
          <p class="text-muted">{{service.description}}</p>
          <button class="btn btn-outline-brand rounded-circle ms-auto">
            <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <p class="lead mt-5 text-center">
     Discover our range of car rental services designed to meet all your travel needs.
    </p>
    <p class="lead text-center">
      From a diverse fleet of vehicles to flexible rental plans.
    </p>

    <!-- View All Button -->
    <div class="text-center mt-5">
      <a routerLink="services" class="btn btn-brand btn-lg rounded-pill px-5">View All Services</a>
    </div>
  </div>
</section>
