<div class="container py-5">
  <div class="row g-2">
    <div class="col-12 col-sm-6 col-lg-3" *ngFor="let car of cars">
      <div class="card h-100 border-0 shadow-sm rounded-4 overflow-hidden position-relative bg-dark text-white">
        <img [src]="car.image" class="card-hover-img card-img h-100 object-fit-cover" alt="{{car.title}}" style="min-height: 270px; opacity: 0.85;">
        <div class="card-img-overlay d-flex flex-column justify-content-between p-3">
          <h5 class="card-title fw-bold mb-0">{{car.title}}</h5>
          <button class="btn btn-lg rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 end-0 m-3" [ngClass]="car.btnClass">
            <i [ngClass]="car.iconClass"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
