/* You can add global styles to this file, and also import other style files */
:root {
  --brand-color: #FF3600;
}
.text-brand {
  color: var(--brand-color) !important;
}

.btn-outline-brand {
  color: var(--brand-color) !important;
  border: 2px solid var(--brand-color) !important;
}
.bg-brand {
  background-color: var(--brand-color) !important;
}
.btn-brand {
  background-color: var(--brand-color) !important;
  color: #fff !important;
  border: none;
}
.btn-brand:hover {
  background-color: #e53000 !important;
  color: #fff !important;
}

/* Make letters stack nicely and hide before animation starts */
.animated-text span {
  display: inline-block;
}

.animated-text span.not-visible {
  opacity: 0;
}

/* (optional) tweak default duration */
:root {
  --animate-duration: 1s;
}
